---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} | BLOG`} 
		
		description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h1>Mi blog de Astro aprendizaje</h1>
			<p>Aqui es donde publicare sobre mi viaje de aprendizaje Astro.</p>
			<ul>
				{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

			</ul>
		</main>
		<Footer />
		<script>
			import "../scripts/menu";
		</script>
		<style>
			ul {
				font-family: Georgia, 'Times New Roman', Times, serif;
			}
		</style>
	</body>
</html>
