---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "INICIO";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mi impresionante subtitulo del blog</h2>
	<style>
		h2 {
			font-size: 40px;
		}
	</style>
</BaseLayout>